<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Registerservlet</display-name>
    <servlet-name>Registerservlet</servlet-name>
    <servlet-class>com.demo.servlets.Registerservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registerservlet</servlet-name>
    <url-pattern>/Registerservlet</url-pattern>
  </servlet-mapping>
  <display-name>Jobportalll</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginpage</display-name>
    <servlet-name>loginpage</servlet-name>
    <servlet-class>com.demo.servlets.loginpage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginpage</servlet-name>
    <url-pattern>/loginpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutservlet</display-name>
    <servlet-name>logoutservlet</servlet-name>
    <servlet-class>com.demo.servlets.logoutservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutservlet</servlet-name>
    <url-pattern>/logoutservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Editprofileaboutt</display-name>
    <servlet-name>Editprofileaboutt</servlet-name>
    <servlet-class>com.demo.servlets.Editprofileaboutt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Editprofileaboutt</servlet-name>
    <url-pattern>/Editprofileaboutt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addeducationdetailss</display-name>
    <servlet-name>addeducationdetailss</servlet-name>
    <servlet-class>com.demo.servlets.addeducationdetailss</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addeducationdetailss</servlet-name>
    <url-pattern>/addeducationdetailss</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Editeeducationdetails</display-name>
    <servlet-name>Editeeducationdetails</servlet-name>
    <servlet-class>com.demo.servlets.Editeeducationdetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Editeeducationdetails</servlet-name>
    <url-pattern>/Editeeducationdetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addexperence</display-name>
    <servlet-name>Addexperence</servlet-name>
    <servlet-class>com.demo.servlets.Addexperence</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addexperence</servlet-name>
    <url-pattern>/Addexperence</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editexperience</display-name>
    <servlet-name>editexperience</servlet-name>
    <servlet-class>com.demo.servlets.editexperience</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editexperience</servlet-name>
    <url-pattern>/editexperience</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deletecode</display-name>
    <servlet-name>Deletecode</servlet-name>
    <servlet-class>com.demo.servlets.Deletecode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deletecode</servlet-name>
    <url-pattern>/Deletecode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletee</display-name>
    <servlet-name>deletee</servlet-name>
    <servlet-class>com.demo.servlets.deletee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletee</servlet-name>
    <url-pattern>/deletee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateprofilepic</display-name>
    <servlet-name>updateprofilepic</servlet-name>
    <servlet-class>com.demo.servlets.updateprofilepic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateprofilepic</servlet-name>
    <url-pattern>/updateprofilepic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Generateresumebuilder</display-name>
    <servlet-name>Generateresumebuilder</servlet-name>
    <servlet-class>com.demo.servlets.Generateresumebuilder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Generateresumebuilder</servlet-name>
    <url-pattern>/Generateresumebuilder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>resumesadd</display-name>
    <servlet-name>resumesadd</servlet-name>
    <servlet-class>com.demo.servlets.resumesadd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>resumesadd</servlet-name>
    <url-pattern>/resumesadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Adminjobpost</display-name>
    <servlet-name>Adminjobpost</servlet-name>
    <servlet-class>com.demo.servlets.Adminjobpost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminjobpost</servlet-name>
    <url-pattern>/Adminjobpost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteuser</display-name>
    <servlet-name>deleteuser</servlet-name>
    <servlet-class>com.demo.servlets.deleteuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteuser</servlet-name>
    <url-pattern>/deleteuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Applyforjob</display-name>
    <servlet-name>Applyforjob</servlet-name>
    <servlet-class>com.demo.servlets.Applyforjob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Applyforjob</servlet-name>
    <url-pattern>/Applyforjob</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteaplied</display-name>
    <servlet-name>deleteaplied</servlet-name>
    <servlet-class>com.demo.servlets.deleteaplied</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteaplied</servlet-name>
    <url-pattern>/deleteaplied</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Jobsearchs</display-name>
    <servlet-name>Jobsearchs</servlet-name>
    <servlet-class>com.demo.servlets.Jobsearchs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jobsearchs</servlet-name>
    <url-pattern>/Jobsearchs</url-pattern>
  </servlet-mapping>
</web-app>